[2016-07-27 16:05] susong0618 opened #1 "怎样打印出线程与输出日志所在的代码行数"
你好，请问怎样打印出线程与输出日志所在的代码行数，就像orhanobut的logger中那样。
如下面的：
Thread: main与MainActivity.initData  (MainActivity.java:66)
╔═══════════════════════════════════════════
║ Thread: main
╟──────────────────────────────
║ MainActivity.initData  (MainActivity.java:66)
╟──────────────────────────────
║ {
║   "name": "Elvis",
║   "age": 18
║ }
╚═══════════════════════════════════════════

[2016-08-01 02:23] ElvisAtMisfit commented on #1
Does the thread id and method line important?
For thread id, I think it is okay to support it, but for method line, you can call XLog.method() to print it.
You won't like every log with a method line, right?

[2016-08-03 03:06] elvishew commented on #1
@susong0618 Does the thread id and method line important enough? Normally, we only want to print the method line when we need, instead of printing it ahead of every log message. If you really need the method line info, you can call XLog.method(Object...args).

And about the thread id, I will add it in development plan.

[2016-08-03 03:45] susong0618 commented on #1
@elvishew 感谢您的回复，我觉得method line 对我是重要的，我可以在logcat直接定位日志输出的位置，如果没有这个method line，我可能要找半天，我不是一定要在每句输出中打印方法行数，能做个可选配置就行，希望您能加上这个功能，感谢。
再次感谢您能加入打印线程信息的功能。

[2016-08-03 16:17] elvishew commented on #1
@susong0618
Currently you can override
AndroidPrinter#onPrintBorderedMessage(int logLevel, String tag, String msg)
or
FilePrinter#onPrintFormattedMessage(int logLevel, String tag, String msg)
and wrap the msg with thread id.
e.g:
super.onPrintBorderedMessage(logLevel, tag, Thread.currentThread().getName() + "\n" + msg);
or
super.onPrintFormattedMessage(logLevel, tag, Thread.currentThread().getName

[2016-08-04 02:53] susong0618 commented on #1
@elvishew Thank you very much!

[2016-08-05 03:31] #1 closed

[2016-10-11 02:53] sword30021 opened #2 "如何关闭log输出"
开发阶段需要输出log，产品上线后想关闭，有这个的方法吗？

[2016-10-11 03:03] elvishew commented on #2
I think you can try something like this:
`XLog.init(BuildConfig.DEBUG ? LogLevel.ALL : LogLevel.NONE);`

[2016-10-17 02:32] #2 closed

[2016-11-15 03:27] jp1017 commented on #2
同时要配置下调试开关，默认的就可以，如下:

[code]

[2016-11-15 03:30] jp1017 opened #3 "库不错，木demo？"
:smile:

[2016-11-15 04:56] jp1017 opened #4 "存到文件的日志，时间显示的是相对值？"
[code]

[2016-11-15 05:19] elvishew commented on #4
@jp1017 The output you pasted comes from DefaultLogFlattener, it concats the timestamp(System#currentTimeMillis), log level, tag and [bordered] message simply.

You can specify your LogFlattener when you build a FilePrinter

Hope this help you.

[2016-11-15 05:21] elvishew commented on #3
@jp1017 The most usages have been listed in the README already. Anyway, will add a sample in future.

[2016-11-15 05:22] jp1017 commented on #4
搞定了，修改了你的源码，，，其实可以默认显示，不用设置 `Flattener`

[2016-11-15 05:25] jp1017 commented on #4
pr here: https://github.com/elvishew/xLog/pull/5

[2016-11-15 05:26] #4 closed

[2016-11-15 07:25] 0406445 opened #6 "请问远程调试怎么使用？"

[2016-11-15 09:55] elvishew commented on #6
@0406445 Do you mean printing the log to server? You need to implement an printer which can upload the log to your server, and specify the printer when initialization.

[2016-11-15 10:17] jp1017 commented on #6
@elvishew He means the demo where?  :smile:

[2016-11-18 02:33] a1018875550 opened #7 "有个Bug"
当我这样使用时`  XLog.e(TAG , "LOG");` 他只输出前面的tag,不输出后面的Log

[2016-11-18 04:49] elvishew commented on #7
@a1018875550 I think you are using XLog in the wrong way. There is no such a `XLog.e(TAG , "LOG")`, but a `XLog.e(String format, Object... args)`, if you want to log an error, you can just `XLog.e("LOG")`, or if you want to specify a log-based tag, you can `XLog.tag(TAG).e("LOG")`.
Hope this can help you.

[2016-11-18 04:50] a1018875550 commented on #7
thanks!

[2016-11-18 04:50] #7 closed

[2016-11-21 09:44] evilfate opened #8 "Will it cause performance impact when writing file log use default FilePrinter?"
As title, we have some concern about performance impact.

[2016-11-21 14:25] elvishew commented on #8
@evilfate It depends on how often you print an log. The default FilePrinter just write the log to the file and flush immediately, so if you print a lot of logs in your release app, I think it would impact the performance.
From my test and general usage, I think it's OK.
If you finally find writing file log impact the performance, you'd better implement you printer, not flush the file every time ri

[2016-11-23 03:10] ssyijiu commented on #3
Thanks for you library. In long json print you library is better than Logger.

[2016-11-25 03:04] elvishew commented on #3
@jp1017 A simple sample is added.

[2016-11-25 03:04] #3 closed

[2016-11-25 03:05] elvishew commented on #6
Sample added

[2016-11-25 03:05] #6 closed

[2016-11-25 03:06] jp1017 commented on #3
Wow, see it, great job, :+1: :smile:

[2016-11-25 09:22] elvishew commented on #2
@sword30021 By default, the debug build is debuggable and the release build is not, so no need to configure the debuggable manually.

[2016-11-25 09:23] elvishew commented on #2
@jp1017 By default, the debug build is debuggable and the release build is not, so no need to configure the debuggable manually.

[2016-11-25 10:07] jp1017 commented on #2
Yes. Aha.

[2016-12-01 09:14] drakeet opened #9 "It seems that FilePrinter lacks a line break."
Your library is pretty cool, but I find a small bug:

![image](https://cloud.githubusercontent.com/assets/5214214/20787849/f605ece8-b7e8-11e6-9097-8dfe815f1d56.png)

As expected, there should be a line break after `sample |`.

[2016-12-01 09:46] drakeet commented on #9
OK, I create a custom `FileLogFlattener` to fix this issue, but I still feel that `DefaultLogFlattener` is not entirely correct for file printing.

And thanks to your good design, I can easily create my `DataFilePrinter`:

![image](https://cloud.githubusercontent.com/assets/5214214/20788879/66df962c-b7ed-11e6-8868-e0ff4e274026.png)

[2016-12-01 13:38] elvishew commented on #9
@drakeet Since DefaultLogFlattener is used by default, for efficiency, I just use the timestamp instead of formatted time.

About the line separator after tag, I just design the DefaultLogFlattener for the simplest case: no border log. If no border, the log would looks like "146000000000|D|my_tag|Simple message", that's not bad.

For better looking, you can simply specify your flattener such as Fi

[2016-12-02 02:12] drakeet commented on #9
@elvishew Thank you for your reminder, and I think our operation, or concurrency, is not so frequent, and the date time information is not very important, I think it is acceptable.

[2016-12-02 02:16] elvishew commented on #9
@drakeet Great

[2016-12-02 02:16] #9 closed

[2016-12-02 02:58] elvishew commented on #9
@drakeet I find you are using a ToggleablePrinter, is there any thing XLog can do for you so you don't need to write this ToggleablePrinter?

If you just need a dynamic switch to turn ON/OFF the file logging, I think XLog can do something for such case, please don't mind to give some feature requirements.

[2016-12-02 03:10] drakeet commented on #9
@elvishew Great! It is my `ToggleablePrinter`, perhaps it can give you a reference:

![image](https://cloud.githubusercontent.com/assets/5214214/20821710/c3a32814-b87f-11e6-879d-554503235a3f.png)

[2016-12-02 03:32] elvishew commented on #9
@drakeet When will you call `setEnable`? If you call it right after constructing this printer, like `setEnable(BuildConfig.DEBUG)`, and never call again, I think it should be done by XLog. If you call `setEnable` dynamically, I am still thinking about it.

[2016-12-02 03:36] drakeet commented on #9
@elvishew I want it to be more controllable. For example, close `LogcatPrinter` when release build type, but keep `DataFilePrinter`, or to change the enable dynamically by remote service. So, I have to set the toggle to the `Printer` not `Logger`.

[2016-12-02 04:11] drakeet commented on #9
I also think about whether it is necessary to switch dynamically, I did not find a good scene. Perhaps it does not need to switch in the run-time.

[2016-12-02 04:35] drakeet commented on #9
I am wrapping the xLog to provide more easier using and supply uploading logs feature, but does not provide the methods to add or remove Printers, so I have provide the setEnable for all the inner Printers.

All in all, at the moment I think xLog as a basic library do not have to consider my needs.

[2016-12-02 04:50] elvishew commented on #9
@drakeet If we want to use printer A and B when in debug mode, and only printer A in release version, we can simply apply such code:
[code]
If we really want to turn any printer ON/OFF in runtime, we can use your ToggleablePrinter.

So no need to enhance XLog, current design seems enough.

Thank you very much for the discussion.

[2016-12-02 05:48] elvishew commented on #1
The APIs are changed a lot when [v1.0.0] released.

Since [v1.0.0]
* Config about printing the thread info, see `LogConfiguration.Builder.t()` and `LogConfiguration.Builder.nt()`
* Config about printing the stack trace(including line number) info, see `LogConfiguration.Builder.st(int)` and `LogConfiguration.Builder.nst()`

For example, if you want to print a log with thread info and stack trace in

[2016-12-02 09:45] sanchi3 opened #10 "Cannot print anything"
Gradle:2.2.2
Debug build

I compiled this library in my project's library module.
And init it in my application by `XLog.init(BuildConfig.DEBUG ? LogLevel.ALL : LogLevel.NONE, new LogConfiguration.Builder().t().b().build());`.
The library module is compiled by `compile project(':library')` in gradle file.My application is registered correctly in `AndroidManifest.xml`.
But it cannot print anything

[2016-12-02 10:14] elvishew commented on #10
@sanchi3 Can you tell which package the `BuildConfig` from? It should be from your app's package, not from other module or library.

I think `BuildConfig.DEBUG` is false in your environment, please check it first.

[2016-12-02 11:58] sanchi3 commented on #10
Emmm... you are right,it's my fault.Thank you very much.

[2016-12-02 11:58] #10 closed

[2016-12-04 06:24] chowaikong opened #11 "Parse JSON error"
I init your xLog in the application onCreate() with `XLog.init(LogLevel.ALL);`, but when I run my project it fail to print json string, only give me this error `com.elvishew.xlog.formatter.FormatException: Parse JSON error.` It's works well using `android.util.Log` to print the json string, don't know anything wrong, any help?

[2016-12-04 09:04] elvishew commented on #11
@chowaikong It is mostly because the string you tried to print is not a JSON, can you check if what you print is realy a JSON string?

[2016-12-04 09:10] chowaikong commented on #11
But why can Gson parses the JSON string?

[2016-12-04 09:41] elvishew commented on #11
@chowaikong Is it possile you paste the JSON string here, or send to elvis@fossil.com, so I can take a further look?

[2016-12-04 11:12] chowaikong commented on #11
Please check your email.

[2016-12-04 11:35] elvishew commented on #11
@chowaikong In my side, I call XLog.json(the_json_you_sent_me), and the formatted JSON is successfully printed, so I don't know how you got the error.

Can you print the full error stack of FormatException to see what the exception actually is?

Also, you can take a look at the DefaultJsonFormatter, the formatting code is very simple.
[code]
This code snippet seems hardly to be wrong.

[2016-12-05 07:57] chowaikong commented on #11
Sorry for the delay, `m.elvishew.xlog.formatter.FormatException: Parse JSON error.` is the only exception I encounter, but I can tell you some detail of my project's build environment, I'm using OkHttp for the network job, with HttpLoggingInterceptor to print the network log, hope it helps.

[2016-12-05 08:18] elvishew commented on #11
@chowaikong I understand, I need the root cause exception of the FormatException, can you help to pointing it out using below codes:
[code]
And use `logcat` or Android Studio to see the printed ERROR log?

For example, I use below codes to test:
[code]
and got below ERROR log
[code]
So I can figure out the root exception is
[code]

Thank you

[2016-12-05 08:32] chowaikong commented on #11
I have try the code below:
[code]
And still the same exception, no further information.

[2016-12-05 08:36] elvishew commented on #11
@chowaikong
`android.util.Log.i("ERROR", "The exception is: ", e);` is different from `Log.e("HttpLoggingInterceptor", e.toString());`, the latter one will not print the root cause.

Can you try `Log.e("HttpLoggingInterceptor", "The exception is: ", e); ` instead?

[2016-12-05 08:43] chowaikong commented on #11
Right, now the exception maybe meet your requirement.
[code]

[2016-12-05 08:56] elvishew commented on #11
@chowaikong
This error `com.elvishew.xlog.formatter.FormatException: JSON should start with { or [, but found ` is not the same with that one `com.elvishew.xlog.formatter.FormatException: Parse JSON error ` you mentioned in the very beginning, I think they are two different exceptions.

From the exception `found <-- END HTTP (9015-byte body)` you pasted,  I wonder if your JSON string contains some

[2016-12-05 09:05] chowaikong commented on #11
`<-- END HTTP (9015-byte body)` is the ending of a http request, XLog is printing every lines of the response content according to the logcat.

[2016-12-05 09:12] chowaikong commented on #11
As a comparison, I try [KLog](https://github.com/ZhaoKaiQiang/KLog) too, this lib prints json string just normally fine. And I think the json string printing method is quite similar between two libraries.

[2016-12-05 09:40] elvishew commented on #11
@chowaikong I check KLog's JSON parser, it is the same as xLog's, the only difference between these two is, KLog catch the JSONException(mostly because the message is not a JSON) and leave the message not formatted, but xLog will throw an FormatException if the message is not a JSON when you call `XLog.json`.

I notice you may using the `okhttp` with `HttpLoggingInterceptor` and try to implement y

[2016-12-05 09:43] chowaikong commented on #11
OK, thanks.

[2016-12-06 06:02] #11 closed

[2016-12-08 06:56] elvishew commented on #8
Optimise the FilePrinter, print to file asynchronously.

[2016-12-08 06:56] #8 closed

[2017-01-09 05:55] EMIN3M1986 opened #12 "Custome tag"
Hi.
First of all I have to say this is a very perfect library, But I wish it support custom tag likes log.

[2017-01-09 09:01] elvishew commented on #12
@EMIN3M1986 It supports.
Use
`XLog.tag(your_tag).d(...);`
for log based customization.
Or
`Logger partialLogger = XLog.tag(your_tag).build();
partialLogger.d(...);`
for partial usage.

[2017-02-06 12:06] Isanderthul opened #13 "Pretty TimeStamp"
Is there any way to change default timestamp from epoch to date string
1486381070403|D|X-LOG|Simple message
to
Mon, 06 Feb 2017 11:37:50.403 GMT|D|X-LOG|Simple message

[2017-02-06 12:17] elvishew commented on #13
@Isanderthul Take a look at `ClassicFlattener` or `PatternFlattener`, and specify the log flattener using `FilePrinter.Builder.logFlattener(Flattener)`. With `Flattener`, you can totally customize the format of your log.

[2017-02-09 11:00] storix opened #14 "Check if XLog already initialized"
Hi,

Can you add the possibility to check whether the `XLog` has already been initialized?

When I run a bunch of _Robolectric_ tests the following exception is being thrown:

`java.lang.RuntimeException: java.lang.IllegalStateException: XLog is already initialized, do not initialize again`

I am initializing the `XLog` in my application subclass:

[code]

It seems that _Robolectric_ creates the a

[2017-02-10 09:03] elvishew commented on #14
@storix Maybe this exception is not necessary to be thrown out, anyway, can you use
[code]
instead, to see if it works?
I will fix this issue in next release.

[2017-02-10 12:34] storix commented on #14
Here is the relevant Robolectric issue - [link](https://github.com/robolectric/robolectric/issues/595)

There was a similar problem with another library called ARCA. They decided to change the exception to a simple warning.

Currently I'm using a static field `isLoggerInitialized` to fix this issue like this:

[code]

[2017-04-07 03:03] jp1017 opened #15 "init 设置 filePrinter 后 AS logcat 不显示了?"

[2017-04-07 03:04] jp1017 opened #16 "打印时, 前面有 TAG , 只打印 TAG?"
[code]

只打印 MYTAG, 后面没有了??

[2017-04-09 08:12] elvishew commented on #16
@jp1017 You used the wrong method. Use `XLog.tag("MYTAG").w("hello klog");` instead.

[2017-04-09 08:15] elvishew commented on #15
@jp1017 Please leave more details here.
Please notice that when `init(Printer...)`, You need to specify all printers here.

[2017-04-09 08:15] jp1017 commented on #16
但是按照我的代码书写， 怎么破？

[2017-04-09 09:01] elvishew commented on #16
@jp1017 If you want to make your old codes work, please refer to [Migration]( https://github.com/elvishew/xLog#migration)

[2017-04-09 09:02] #12 closed

[2017-04-17 02:33] #13 closed

[2017-04-17 02:33] #15 closed

[2017-05-08 08:49] whyalwaysmea opened #17 "About stack trace info"
Sometime I defined my L.java, and I use XLog in L.java.
 L.java have some methods, example:
[code]
then I use L.java in MainActivity
[code]

I set st(3), and the log is :

║	├ com.whyalwaysmea.basemodule.L.e(L.java:127)
║	└ com.whyalwaysmea.diycode.MainActivity.onCreate(MainActivity.java:23)

Can I only see the last Info(MainActivity.java)? how to do it?
Thanks.

[2017-05-19 09:36] verheyenkoen opened #18 "Customizable log levels"
I'm looking for a way to customize log levels. E.g. we don't use `verbose` but we do use `critical` (higher than error). Currently all I can do is "transpose" the log levels with a wrapper and an interceptor or something making everything a mess (and stack traces incorrect because the wrapper is irrelevant).

[2017-05-22 15:07] #16 closed

[2017-05-22 15:09] #14 closed

[2017-05-22 15:32] elvishew commented on #18
@verheyenkoen Can you show part of the code("transpose" the log levels with a wrapper and an interceptor) so I can understand what you want better?

[2017-05-22 15:38] verheyenkoen commented on #18
@elvishew I don't actually do it as it's ugly, but I mean some kind of Log class that wraps around XLog with methods that would look like this:

[code]

[2017-05-23 02:11] elvishew commented on #18
@verheyenkoen Sounds cool, I will do it.

[2017-06-29 05:31] softmicro929 opened #19 "some confusion about filePrinter"
The xLog is very powerful and pretty, i am excited in using it.
but when i use the function of printing log to the sdcrad,  i meet some question.
for example,when i use a globalFilePrinter and a LocalFilePrinter in the same time,and set the file path same,and the filename generator by date as also, it would't create two log file, they will write in a same file. is it a BUG?
in another case, I just

[2017-06-30 04:31] elvishew commented on #19
@softmicro929
1. Two printers, same file. I think you can specify different path for these two printers. For example, printer1 write logs in "/your_path/printer1/", printer2 write logs in "/your_path/printer2/", so even you use the same filename generator(by date) they won't write in a same file.
2. Currently, xLog doesn't provide a method for clearing log files. For your problem, single log file

[2017-06-30 06:20] softmicro929 commented on #19
@elvishew
Get it. I didn't notice the backupStrategy.Thank you.

[2017-06-30 06:37] denghui1010 opened #20 "无法打印json"
String jsonString = "{\"name\": \"Elvis\", \"age\": 18}";
XLog.json(jsonString);

打印不出来..

[2017-06-30 06:44] #19 closed

[2017-06-30 06:49] elvishew commented on #20
@denghui1010
1. Have you initialize the xLog? If not, an exception would be thrown.
2. Did you set the log level too high? XLog.json use the DEBUG level

[2017-06-30 08:02] denghui1010 commented on #20
知道原因了, 在一些华为手机上, debug等级的log不会显示, see this, [http://blog.csdn.net/seafishyls/article/details/52198814](url), so 我建议把打印json设成info等级

[2017-06-30 08:08] denghui1010 commented on #20
另外, json格式出现了奇怪的缩进,
![image](https://user-images.githubusercontent.com/6003030/27726758-41329aca-5dae-11e7-9266-9ad879ce4b89.png)

[2017-07-12 08:31] xiaoqingxu0502 opened #21 "log backup"
Hi，I know Xlog is great，but I incomprehension why there is a log backup function，If you can tell me It applies to which scenes？I will be very grateful.

[2017-07-13 06:18] elvishew commented on #21
@xiaoqingxu0502 The backup feature can prevent a log file being too big, you can specify a backup strategy to tell XLog when to backup the old log file and start a new log file

[2017-07-15 06:35] xinyer opened #22 "can support to save all logcat message to file?"

[2017-07-15 08:21] elvishew commented on #22
@xinyer We can only save the message we print, can not save the messages printed by others. If you want to save all logcat message, I think there would be some other libraries doing this

[2017-07-18 08:28] xiaoqingxu0502 commented on #21
Oh, thanks very much，I get it。

[2017-08-07 08:46] #21 closed

[2017-08-31 12:06] sina1112 opened #23 "有没有提供给C使用的打日志的接口呢"
java层接口提供了，现在想要c层中也使用，有办法么，谢谢！

[2017-09-02 14:05] elvishew commented on #23
I think you can wrap some logging APIs in java, and call from c via JNI, or I will recommend you use the print functions directly

[2017-09-06 09:58] Nstd opened #24 "如何获取 sIsInitialized 变量？"
up主，你好，我在初始化`XLog`的时候，设置了一个`filePrinter`，文件路径是通过一个封装过的工具类：`StorageUtil`获取的，获取这个路径的时候，做了一个“是否要创建目录”的判断，同时输出相关日志，此时由于XLog并未初始化，导致崩溃，所以，想手工判断一下是否初始化，否则不用XLog输出。

PS: XLog暂时用做日志文件备份，项目中还是有一个日志工具的，只不过在那个日志工具调用Log.x()后，再调用XLog

[2017-09-07 04:47] elvishew commented on #24
@Nstd
You shouldn't use xLog when you are still initializing xLog, so I think you don't need to check if xLog is initialized.

If you really want to check, you can define a boolean field and set it to true when you initialize xLog, then you can check this boolean field later. Or you can read the `sIsInitialized` value via reflecting.

[2017-09-07 08:02] Nstd commented on #24
@elvishew
Thanks for your reply, and as you said, I use a boolean field to record the xLog initialize state, but the code is a bit ugly.
When replying, I have an idea. How about creating an ExceptionHandler or ExceptionHandleStrategy to determine how to handle the exception ?
When xLog haven't  initialized or just initializing , I just want to ignore the log.

[2017-09-13 04:03] elvishew commented on #24
@Nstd If you don't need xLog to print the log, just set the log level to `LogLevel.NONE`, you can always initialize xLog in the very beginning of your app, like `Application.onCreate`

Version 1.4.0 are going to be released, with this release, when you use xLog but forget to initialize it, a warning will be log, instead of throwing a exception.

[2017-09-13 07:17] Nstd commented on #24
thanks~

[2017-09-13 07:17] #24 closed

[2017-09-20 06:39] a1onexiang2 opened #25 "how can I change log level after initiation?"
I initialize XLog in my project by code:
[code]
The log level is set to `LogLevel.NONE` in release version, but I have a secret log switch to debug something, so, how can I change log level after XLog initialized?

[2017-09-26 04:08] yongchen77 opened #26 "save log file names by tag?"
is it possible to save log file names by tag?

[2017-10-15 02:42] elvishew commented on #17
@whyalwaysmea For your case, you can use `st("com.whyalwaysmea.basemodule.L", 3) when you initialize the logger, with the latest release(1.4.0).

[2017-10-15 02:44] elvishew commented on #18
@verheyenkoen It is available in the latest release(1.4.0).

[2017-10-15 02:46] #22 closed

[2017-10-15 02:46] #23 closed

[2017-10-15 02:57] elvishew commented on #26
It is not possible currently, but there is a workaround, you can use different `Logger`s (with different tags) to save to different files.

e.g:
[code]

Hope this help you

[2017-10-15 03:10] elvishew commented on #25
@a1onexiang2 Can you just change your code to the below?
[code]
But it only work after you restart your app.

Otherwise, you can modify the `LogConfiguration.logLevel` with java reflecting

[2017-10-16 02:19] yongchen77 commented on #26
Thanks.

[2017-10-16 02:19] #26 closed

[2017-10-17 08:01] a1onexiang2 commented on #25
@elvishew Thanks and I did have fixed it as you suggested. But as you said following, I have to restart my app to make it work. The point is "Is there another way to make it work immediately without restart?"

[2017-10-17 11:19] elvishew commented on #25
@a1onexiang2 As I mentioned, you can modify the `LogConfiguration.logLevel` of global or partial `Logger` with java reflecting, I think that's the only way to make it work without restart.

[2017-10-20 03:55] #25 closed

[2017-11-01 07:31] MAIMIHO opened #27 "日志格式有点别扭"
老哥, 你好,
    logcat打印的日志第一行的边框和和下面的没有对齐. 能否更改一下.
![image](https://user-images.githubusercontent.com/18633356/32264451-b398d80a-bf19-11e7-8c3d-4b600b552232.png)

[2017-11-03 02:04] #18 closed

[2017-11-08 05:32] zztmercury commented on #24
@Nstd Since the access level of sIsInitialized is package-private, you can create package 'com.elvishew.xlog' in your project, and create a class with a public static method to return the value of XLog.sIsInitialized

[2017-11-14 03:24] JunyaoZhu opened #28 "在AS 3.0 上点击日志无法跳转"
**在AS 3.0 输出的日志不能点击跳转**

代码配置:
[code]

日志如下:
![image](https://user-images.githubusercontent.com/13073384/32761426-e0a5e88a-c8b8-11e7-9fd6-04e7cf5ce79d.png)

[2017-11-29 06:55] maning0303 opened #29 "XLog.json(JsonString); 当JsonString异常时会造成崩溃"
建议检测一下，防止崩溃！

[2017-12-09 12:15] #27 closed

[2017-12-11 05:33] hfshiwo opened #30 "有没有单独的开关来控制是否打印啊 大佬！"

[2017-12-19 05:39] AndroidRubin opened #31 "Log is no longer show in my logcat , my device is HUAWEI BTV-W09"
I just used XLOG in my project, it does not work on my pad , i have no idea about that , even logcat print no except about XLOG, but when i use Log.i(TAG,MSG) then i can get the MSG in my logcat, how can i fix that?
P.S. the HUAWEI BTV-W09 's sdk version is 25 (Android7.0)

[2017-12-19 05:46] #31 closed

[2017-12-19 05:49] AndroidRubin commented on #31
I have solved the problem ,thx
http://bbs.csdn.net/topics/392158154

[2017-12-21 03:56] elvishew commented on #28
@JunyaoZhu It may be the AS 3.0 issue

[2017-12-21 04:04] elvishew commented on #17
1.4.0 released

[2017-12-21 04:04] #17 closed

[2017-12-21 04:20] elvishew commented on #30
@hfshiwo xLog is designed to not support such feature.

However, you can still switch the logging on/off in runtime. Just wrap your real printer(or printer set) when you initialize xLog, like the code below.
[code]
Hope this help you.

[2017-12-21 04:45] elvishew commented on #29
@maning0303 Thank you for your advice. After reviewing the code, I think we should remain the Exception to notice the library user that something went wrong, for example the back-end returning a wrong JSON, when still in early development.

If you don't like the Exception or crashing when the JSON string is wrong, you can specify your own `JsonFormatter` when initializing xLog. Something like belo

[2018-01-05 07:53] yy4556028 opened #32 "Android 7.0，XLog.d() XLog.v()不打印"

[2018-01-06 03:14] elvishew commented on #32
@yy4556028 What device you are using? It may be the issue of your device, can you check again? As I know, Huawei device has this issue

[2018-01-07 15:21] Aeiric commented on #16
im sorry for asking the closed question,cause i got the same problem. i was sure used the right code
like " XLog.tag(tag).e(content)" but only shows the global tag and the custom tag,no content...what's wrong,thanks for your answer~

[2018-01-08 04:28] elvishew commented on #16
@Aeiric I think maybe you didn't actually use the `XLog.tag(tag).e(content)`. Are you using some wrappers? Could you try a smallest demo to test your code?

[2018-01-08 07:27] rohanBagchi opened #33 "How to log to internal storage?"
Hi,
I need help with writing log files to device internal storage. How do we do that with xlog? Any help will be appreciated. Thanks in advance.

[2018-01-08 09:06] andyNinty opened #34 "日志保存没有办法设置每条日志的时间"
保存日志到本地文件，时间全部是毫秒值，可否设置为yyyy-MM-dd HH:mm形式？

[2018-01-08 09:08] #34 closed

[2018-01-08 11:52] rohanBagchi commented on #33
Figured it out.
[code]
Post that, `XLog.i('msg')` calls will write to the internal shared directory you specified. In above case, `/CustomAppDirectory/app_logs/`.
PS: check https://developer.android.com/reference/android/os/Environment.html#getExternalStoragePublicDirectory(java.lang.String)

[2018-01-08 11:52] #33 closed

[2018-01-09 11:50] zhaoxiuyu opened #35 "日志会打印两次"
日志输出会打印两次
一次是 X-Log     一次是System.out

![biz2n jm 71 gpcm b_i7h](https://user-images.githubusercontent.com/16554580/34719603-5ea0fcc2-f576-11e7-8b7c-3f26d2f3863e.png)

[2018-01-10 04:15] elvishew commented on #35
@zhaoxiuyu If you don't want the "System.out" log, please remove `ConsolePrinter` when initializing.

[2018-01-16 09:21] RockyQu opened #36 "调用 json 方法崩溃了"
在 JSONObject JSONArray 同时有互相包含时的情况

[2018-01-17 03:05] elvishew commented on #36
@RockyQu I am not quite sure what you mean, can you paste your JSON example here?

[2018-01-17 07:29] RockyQu commented on #36
JSONObject jsonObject = new JSONObject();
        try {
            jsonObject.put("a","b");
            jsonObject.put("aasasf","bag");
            jsonObject.put("aadg","badga");
            jsonObject.put("adg",true);

            JSONArray jsonArray = new JSONArray();
            JSONObject jsonObject1 = new JSONObject();
            jsonObject1.put("a","b");
            jsonArray.put(jsonObje

[2018-01-17 07:30] RockyQu commented on #36
JSONObject jsonObject = new JSONObject();
        try {
            jsonObject.put("a","b");
            jsonObject.put("aasasf","bag");
            jsonObject.put("aadg","badga");
            jsonObject.put("adg",true);

            JSONArray jsonArray = new JSONArray();
            JSONObject jsonObject1 = new JSONObject();
            jsonObject1.put("a","b");
            jsonArray.put(jsonObje

[2018-01-17 07:30] RockyQu commented on #36
public static String getJson() {
        JSONObject jsonObject = new JSONObject();
        try {
            jsonObject.put("a","b");
            jsonObject.put("aasasf","bag");
            jsonObject.put("aadg","badga");
            jsonObject.put("adg",true);

            JSONArray jsonArray = new JSONArray();
            JSONObject jsonObject1 = new JSONObject();
            jsonObject1.put("a"

[2018-01-17 07:31] RockyQu commented on #36
上面的这段

[2018-01-17 07:54] elvishew commented on #36
@RockyQu The code you pasted seems okay, and I run it on my android phone, it works.
[code]
Can you try again the code above, or tell more details about the problem you are suffering?

[2018-01-19 05:36] maning0303 commented on #29
@elvishew Thank you！

[2018-01-19 05:36] #29 closed

[2018-01-24 12:46] song314 commented on #35
@elvishew well, but what is the ConsolePrinter design for ？JSE？

[2018-01-25 02:10] elvishew commented on #35
@song314 Mostly, yes

[2018-02-24 08:15] powerzd opened #37 "delete logs"
can auto delete logs by time or other ways

[2018-02-24 08:17] powerzd opened #38 "how to send logs to Internet"
how to send logs to Internet

[2018-02-26 02:13] elvishew commented on #38
@powerzd You need to implement this feature by yourself, in an easy way.
First, implement an `Printer`(see `RemotePrinter`) sending logs to your server.
And then you can set this Printer as  your log printer when you initialize xLog.

[2018-02-26 02:15] elvishew commented on #37
@powerzd Sorry we can't, currently. You need to delete logs by yourself.

[2018-03-15 10:30] imyyq-star opened #39 "请问有崩溃信息的捕捉吗"
如题，当应用崩溃需要捕捉崩溃信息，并发送到服务器，请问有这个功能吗

[2018-03-16 16:41] elvishew commented on #39
@imyyq-star No, you need to implement by yourself, seems no much things can xLog do.

[2018-04-08 10:06] pengzhaoyang opened #42 "能不能通过设置标志是否将日志保存在文件中？"
项目中有个新需求就是有些日志我需要保存文件中，有些日志我不需要保存在文件中，能否有比较简洁方法解决这个需求

[2018-04-09 02:39] exayong opened #43 "文件输出 时间格式"
你好,日志文件输出是 12小时制的 但没有AM/PM标志 这个可以设置吗?

[2018-04-09 03:10] #43 closed

[2018-04-09 03:36] caozhx opened #44 "动态的设置TAG"
在不同的类里面设置不用的TAG，不想使用局部的用法，每次设置很多参数太麻烦，怎样实现动态设置TAG

[2018-04-09 04:13] elvishew commented on #44
@caozhx Currently there is not a simple way to do that, but I think you don't need to set 'a lot of' parameters every time, setting the tag is enough.
For example, you have already fully initialized xLog in you `Application.onCreate`, you just need to define a partial logger at the beginning of your class.
[code]
And use this `LOGGER` in the class.

Yes, it is a little troublesome

[2018-04-09 07:00] #44 closed

[2018-04-11 01:42] pengzhaoyang commented on #42
与log level没有关系，就是说我有些日志需要保存，有些日志不需要写入文件中保存，想问问有没有一种便捷方法，类似链式编程那样，不过我通过修改你的源码加入了这个需求，用到我们项目中，谢谢

[2018-04-13 11:35] elvishew commented on #42
@pengzhaoyang Would be very appreciated if you share your solution

[2018-05-03 01:22] jebai0521 opened #45 "文件日志能否添加清理功能，比如最多保留多少天的"

[2018-05-04 02:01] JarenFeng commented on #25
@elvishew its not easy to modify the `logLevel ` filed by java reflecting as its modified with ‘`final`’

[2018-05-07 08:32] dotfeng commented on #42
@pengzhaoyang 我也想实现这个功能，可否共享下如何实现的？

[2018-05-07 08:44] dotfeng commented on #45
https://github.com/elvishew/xLog/pull/41

[2018-05-10 07:47] dotfeng commented on #42
add interceptor to any Printer,
[code]

such as level interceptor:
[code]

and intercept when println
[code]

[2018-05-16 02:47] Cuieney opened #46 "FileBackupStrategy 没作用 ，指定文件大小后，并没有根据指定的大小返回true 。随机的就生成了不同大小的文件"

[2018-05-16 05:43] #46 closed

[2018-05-24 03:00] caozhx opened #47 "出错没有抛出异常吗？"
我在application的onCreate()中初始化的XLog，不知道什么原因执行到这里有时候回卡死在这里，捕获异常也没有反应，我猜测是内部异常了但是没有抛出，导致卡死

[2018-06-15 08:36] hugbio commented on #45
框架现有的功能好像无法实现，不过可以通过自定义FileNameGenerator来实现。
`
public class MyFileNameGenerator implements FileNameGenerator {
    private static final String FILE_NAME_PREFIX = "xLog";
    private static final String FORMAT = "txt";
    private final String fileDir;
    private final int maxCacheSize;
    private final int maxFileSize;
    private volatile String curFileName;
    private volatile long curCacheSi

[2018-06-20 08:17] dotfeng opened #48 "DEFAULT_DATE_FORMAT should be "yyyy-MM-dd HH:mm:ss.SSS"
https://github.com/elvishew/xLog/blob/master/library/src/main/java/com/elvishew/xlog/flattener/PatternFlattener.java#L97

static final String DEFAULT_DATE_FORMAT = "yyyy-MM-dd **hh**:mm:ss.SSS";

should be

static final String DEFAULT_DATE_FORMAT = "yyyy-MM-dd **HH**:mm:ss.SSS";

[2018-06-21 17:23] elvishew commented on #45
@hugbio Maybe `FileSizeBackupStrategy` meet your requirement? It will create a new log file when the log file grown too large, and rename the old log file to .bak file

[2018-07-17 05:49] williamwue commented on #37
@powerzd @jebai0521 The function you want is added and you can use it by newest code (https://github.com/elvishew/xLog/pull/41)

[2018-07-17 05:50] williamwue commented on #45
@jebai0521  @dotfeng The function you want is added and you can use it by newest code (#41)

[2018-07-21 02:12] fafala opened #49 "二次包装无法打印实际调用者的打印行号"
我在将自己的LogUtils中的Log.i (...)替换成XLog.i(..),但是无法打印调用者的行号，总是打印LogUtils中的行号，这个有办法解决吗？

[2018-07-22 06:16] elvishew commented on #49
@fafala Please look forward to #17 , it may help you

[2018-07-22 16:59] #35 closed

[2018-07-22 17:01] #36 closed

[2018-07-22 17:04] #30 closed

[2018-08-12 15:04] #49 closed

[2018-08-12 15:04] #39 closed

[2018-08-15 02:44] shenbengit opened #50 "日志错位问题"
Android studio 升级到3.1.4出现日志错位问题，2.3.3没有问题。
![image](https://user-images.githubusercontent.com/24364422/44128850-cb58e76a-a077-11e8-9f61-2c01d71e1731.png)
![image](https://user-images.githubusercontent.com/24364422/44128868-e6c3d37a-a077-11e8-866d-a9189a3a10b9.png)

[2018-08-27 14:57] zubairehman opened #52 "how to encrypt logs"
Hi,
First of all thanks for such a wonderful library.
How can i encrypt/decrypt logs using this library. I want to store and read logs from encrypted file, so that normal user can't read the logs. One way is to add them in (.Folder) but still a user can access the files

[2018-09-05 03:14] ahjsrhj commented on #50
改造一下 `DefaultBorderFormatter`:
[code]
在 `TOP_HORIZONTAL_BORDER` 前面加上了换行符
输出如下:
![image](https://user-images.githubusercontent.com/8666955/45068975-ca796280-b0fc-11e8-8277-d0fac0def45f.png)

[2018-09-17 03:01] ui03 opened #53 "请问日志上传到服务器该怎么实现"

[2018-09-17 10:51] elvishew commented on #53
@ui03 XLog doesn't provide a feature to upload log to a server, you can implement it by yourself.
Please refer to the empty implementation `RemotePrinter` and view the javadoc for detail.

[2018-09-17 11:07] elvishew commented on #52
@zubairehman I guess what you ask is "How to encrypt/decrypt logs using FilePrinter of this library", right?
From what I can imagine, you can implement your own `Flattener` when initializing `FilePrinter`.

You have two choices:
1. Completely implement a `Flattener`.
[code]
2. Extend `ClassicFlattener` or `PatternFlattener`
[code]

Hope this help you

[2018-09-17 11:11] elvishew commented on #47
@caozhx Have you found out the reason? It must be related to the device you used, maybe you can debug the code step by step to see where it blocks

[2018-09-17 11:13] elvishew commented on #45
Use a `CleanStrategy` when you initialize the `FilePrinter` since v1.5.0

[2018-09-17 11:13] #45 closed

[2018-09-17 11:20] elvishew commented on #48
Available since v1.5.0

[2018-09-17 11:28] elvishew commented on #25
Please refer to #30 , maybe it will help

[2018-09-20 03:45] XuanJiAndroid opened #54 "how to config proguard file?"
as title

[2018-09-22 05:11] elvishew commented on #54
@XuanJiAndroid I think there is no need to config proguard for xLog.

Do you met some problems?

[2018-09-26 01:47] kigkrazy opened #55 "能不能设置保留几天的数据（比如保存最近三天的日志）"

[2018-09-26 06:48] williamwue commented on #55
Please refer it in #45

[2018-09-27 05:45] XuanJiAndroid commented on #54
yes, is no need to config proguard for xLog.Thank you @elvishew

[2018-09-27 05:45] #54 closed

[2018-10-15 07:56] sfshine opened #56 "超长Json数据丢失问题"
![_ _20181015155555](https://user-images.githubusercontent.com/3046831/46937109-f5a78800-d092-11e8-8b38-525651e818dc.png)

[2018-10-16 10:01] elvishew commented on #56
@sfshine Can you tell which version of xLog do you use?

[2018-10-24 03:14] FamliarMan commented on #56
same problem

[2018-10-24 10:14] elvishew commented on #56
@sfshine @FamliarMan Can you try to use `new AndroidPrinter(int maxChunkSize)` instead of `new AndroidPrinter()`, and specify a reasonable chunk size for example `2000` or `3000` (which is less than `4063` - the default one) to see if this issue can be fixed?

[2018-10-27 07:41] Alvin9234 opened #57 "系统的日志能存储吗"
我看了一下日志输出和存储后的内容，这个只存储了我调用XLog.e，XLog.i地方输出的内容，而Android Studio的logcat中有很多和app有关的日志输出（比如第三方库的一些日志），我想把这些也存储起来，这个可以实现吗

[2018-10-27 07:43] #57 closed

[2018-10-27 07:45] Alvin9234 opened #58 "logcat中app相关的系统日志或者第三方库的日志能记录到吗"
我看了一下日志输出和存储后的内容，这个只存储了我调用XLog.e，XLog.i地方输出的内容，而Android Studio的logcat中有很多和app有关的日志输出（比如第三方库的一些日志，解析异常等），我想把这些也存储起来，更方便全面分析日志，这个可以实现吗

[2018-10-29 02:58] Alvin9234 commented on #58
The log library only records the log output of the method that I called XLog.i(). In fact, there are many APP-related logs in Logcat, and many of them are useful. For example, the third SDK will also report some logs, how to put these Other system logs related to APP are also recorded.

[2018-10-29 10:12] scodemao opened #59 "What's the problem"
java.lang.NullPointerException: Attempt to get length of null array
        at com.elvishew.xlog.printer.file.FilePrinter.cleanLogFilesIfNecessary(FilePrinter.java:161)
        at com.elvishew.xlog.printer.file.FilePrinter.doPrintln(FilePrinter.java:130)
        at com.elvishew.xlog.printer.file.FilePrinter.access$200(FilePrinter.java:39)
        at com.elvishew.xlog.printer.file.FilePrinter$Worke

[2018-10-30 02:38] scodemao commented on #59
i modified this function ,work well

private void cleanLogFilesIfNecessary() {
        File logDir = new File(this.folderPath);
        File[] files = logDir.listFiles();
        if (files != null && files.length > 0) {
            File[] var3 = files;
            int var4 = files.length;

            for (int var5 = 0; var5 < var4; ++var5) {
                File file = var3[var5];

[2018-11-01 07:20] elvishew commented on #59
Fixed in v1.6.1

[2018-11-01 07:20] #59 closed

[2018-11-01 07:51] FamliarMan commented on #56
@elvishew  It works fine when I use 2000.

[2018-11-13 08:01] elvishew commented on #58
@Alvin9234 Recording all logs printed by system seems great, but since xLog is a light-weight library, it is mostly designed to print your own logs conveniently, not for collecting system logs, maybe you can collect by yourself and save the logs to file using `FilePrinter#println`

[2018-11-13 08:14] elvishew commented on #50
@ahjsrhj Can you just extends `DefaultBorderFormatter` and override its `format` method?
[code]
@shenbengit Hope it can work for you.

[2018-11-20 06:11] 13186137845 opened #60 "XLog混淆怎么配置"
开启混淆报错
    java.lang.NullPointerException
        at com.elvishew.xlog.printer.file.FilePrinter.cleanLogFilesIfNecessary(Unknown Source)
        at com.elvishew.xlog.printer.file.FilePrinter.doPrintln(Unknown Source)
        at com.elvishew.xlog.printer.file.FilePrinter.access$200(Unknown Source)
        at com.elvishew.xlog.printer.file.FilePrinter$Worker.run(Unknown Source)

[2018-11-23 08:14] kigkrazy opened #61 "cleanLogFilesIfNecessary空指针异常"
报错如下：
[code]
代码位置：
[code]

[2018-11-27 02:09] elvishew commented on #60
@13186137845 It is a bug, already fixed.

Duplicated with #59

[2018-11-27 02:09] #60 closed

[2018-11-27 02:10] elvishew commented on #61
@kigkrazy It is a bug, already fixed.

Duplicated with #59

Use v1.6.1

[2018-11-27 02:10] #61 closed

[2018-11-29 06:21] ghost opened #62 "The border can't alignment[边框线不能对齐]."
When I used the XLog to print log message with '.b',the border can't alignment.
[当我使用带有-b参数的XLog打印日志信息的时候,边框线不能对齐]
![2018-11-29_141650](https://user-images.githubusercontent.com/43057595/49203115-03666200-f3e2-11e8-91e1-e6a65246014b.png)

I found that my question is identical with #50 ,I wish author can update the XLog to new version Android Studio.

[2018-12-03 02:38] yyfBlog opened #63 "写入日志保存到本地的时候,中文乱码"

[2018-12-03 02:56] elvishew commented on #63
@yyfBlog Please check the encoding format you used(in AS) when writing the log, if it is the same as the decoding format you used to view the log.

[2018-12-04 01:03] yyfBlog commented on #63
thank you, I solved it.

[2018-12-06 02:31] #63 closed

[2018-12-14 09:19] lcn1988 opened #64 "How to FilePrinter output only keep message"
1486381070403|D|X-LOG|Simple message
to
Simple message

[2018-12-14 09:36] lcn1988 commented on #64
implements Flattener, Flattener2

[2018-12-14 09:36] #64 closed

[2018-12-17 08:05] elvishew commented on #62
@amColinzzz xLog can not do more about this issue, it depends on how android studio display the log.
Please refer to the solution of #50

[2018-12-29 01:49] xbyl commented on #50
formatted = "|" + SystemCompat.lineSeparator  + formatted ;

[2019-01-16 07:51] howtoplay opened #65 "在UncaughtExceptionHandler中无法打印到文件"
如题，我设置了一个全局的CrashHandler实现了UncaughtExceptionHandler，但是无法将日志打印到文件，可以打印到logcat

[2019-01-16 09:45] howtoplay commented on #65
找到原因了，是因为使用了Work线程，在CrashHandler中把变量USE_WORKER设为false，具体可以修改源码增加设置

`public Builder useWorker(boolean USE_WORKER) {
            this.USE_WORKER = USE_WORKER;
            return this;
}`

[2019-03-04 15:18] gdh1995 opened #66 "旧日志文件被覆盖了"
我设置了fileNameGenerator和backupStrategy，结果日志文件被不断互相覆盖了。代码是这样的：
[code]

## 期待：

日志文件名是`2019-03-04.txt`，如果超过4MB，则自动移动到`2019-03-04.txt.bak`并重开一个`2019-03-04.txt`文件, 如果新文件再超过4MB，则自动移动到`2019-03-04.txt.2.bak`、`2019-03-04.txt.3.bak`等

## 实际：

日志文件名是`2019-03-04.txt`，如果超过4MB，则自动移动到`2019-03-04.txt.bak`并重开一个`2019-03-04.txt`文件, 如果新文件再超过4MB，则自动移动到`2019-03-04.txt.bak`并重开`2019-03-04.txt`文件。

注意：这时候**旧的`2019-03-04.tx

[2019-03-05 07:05] yyfBlog opened #67 "保存的日志信息里面记录的时间是时间戳,能不能转换"
保存的日志信息里面记录的时间是时间戳,能不能转换

[2019-03-05 07:26] elvishew commented on #66
@gdh1995 It is designed to be. If you want to keep more logs, just enlarge the size of `FileSizeBackupStrategy`, and if you want to keep all logs, just use `NeverBackupStrategy`.

[2019-03-05 07:47] gdh1995 commented on #66
呃，那强烈建议在readme里加warning。。。

[2019-03-05 07:48] gdh1995 commented on #66
我看了看发布的包里的backupStrategy()和FileSizeBackupStrategy的注释，里边都没说具体的行为是会覆盖，但我觉得warning是很有必要的。

[2019-03-05 07:51] elvishew commented on #67
@yyfBlog A `Flattener2` would help you. Please refer to `ClassicFlattener` or `PatternFlattener`

[2019-04-03 02:02] SunZhiyuanS opened #68 "Why the cleanStrategy doesn't work?"
I have added a cleanStrategy in filePrinter.
**:cleanStrategy(new FileLastModifiedCleanStrategy(30000))**
I want to clean the file after 30 seconds, but it doesn't work.

[2019-04-03 03:27] yuqirong opened #69 "Attempt to invoke virtual method 'boolean java.io.File.createNewFile()' on a null object reference"
java.lang.NullPointerException

Attempt to invoke virtual method 'boolean java.io.File.createNewFile()' on a null object reference

com.elvishew.xlog.printer.file.FilePrinter$Writer.boolean open(java.lang.String)(FilePrinter.java:432)

现在在线上使用xlog，有几个用户遇到这个崩溃。

可能是什么原因导致的？

[2019-04-03 06:01] elvishew commented on #68
@SunZhiyuanS `FileLastModifiedCleanStrategy` doesn't relay on the created time, but the last modified time.
If you want to delete the file after 30 seconds since it is created, you can implement your own clean strategy, something like `FileCreatedCleanStrategy`

[2019-04-03 07:46] elvishew commented on #69
@yuqirong Have you modified the xlog library's source code? Seems no way to throw this exception if you just use xlog

[2019-04-03 10:47] yuqirong commented on #69
java.lang.NullPointerException

Attempt to invoke virtual method 'boolean java.io.File.createNewFile()' on a null object reference

 com.elvishew.xlog.printer.file.FilePrinter$Writer.boolean open(java.lang.String)(FilePrinter.java:450)
 com.elvishew.xlog.printer.file.FilePrinter.void doPrintln(long,int,java.lang.String,java.lang.String)(FilePrinter.java:136)
 com.elvishew.xlog.printer.file.FilePri

[2019-04-03 10:49] yuqirong commented on #69
![image](https://user-images.githubusercontent.com/11294375/55473387-31360e80-5641-11e9-8f63-43bc9154fcc2.png)

[2019-04-03 19:51] jclova opened #70 "Can you make FilePrinter.java appendLog() to catch Exception?"
void appendLog(String flattenedLog) {
      try {
        bufferedWriter.write(flattenedLog);
        bufferedWriter.newLine();
        bufferedWriter.flush();
      } catch (**IOException** e) {
      }
    }

Can you change catch IOException to Exception?

I am getting many following **NullPointerException**
Fatal Exception: java.lang.NullPointerException
Attempt to invoke virtual method 'void j

[2019-04-04 04:50] elvishew commented on #70
@jclova  Have you modified the xlog library's source code, like set the `FilePrinter#USE_WORKER` to false?

By default, `USE_WORKER` is set to true, and we use a worker, which is thread-safe, to print the log, so no worry about being logged concurrently. But if you set `USE_WORKER` to false, then something wrong may happen.

Besides, as what you said "Some logs are being written even before buffer

[2019-04-05 00:39] SunZhiyuanS commented on #68
@elvishew Thanks,I will try it later.

[2019-04-11 20:50] jclova commented on #70
No, I did not FilePrinter#USE_WORKER to false.
I have looked into your source code too and I don't see any cases that it will throw an error.
However, in reality I have a bunch of user crashes reported to my Crashlytics.
<img width="654" alt="image" src="https://user-images.githubusercontent.com/13153506/55992068-a923ba80-5c79-11e9-8077-819bb7c6c4e6.png">

[2019-04-11 20:56] jclova commented on #70
btw, this is what my init method looks like:

`public static void init(Context context, boolean isDebug) {
        Printer androidPrinter = new AndroidPrinter();
        filePrinter = new FilePrinter
                        .Builder(context.getFilesDir().getAbsolutePath() + "/xlog/")
                        .backupStrategy(new NeverBackupStrategy())
                        .build();

        LogCo

[2019-04-23 12:52] #55 closed

[2019-04-23 13:27] #67 closed

[2019-04-23 13:41] elvishew commented on #66
@gdh1995 You are right, we should keep all the backup files. Would you create a pull request?

[2019-04-23 18:05] gdh1995 commented on #66
Sorry, but I have a heavy job in the daytime, and in the night I would rather write my personal Chrome extension project, so I have no enough rest time in recent weeks.

[2019-05-08 05:30] chnouman opened #71 "Why file extension is not .txt?"

[2019-05-22 07:11] lantsang opened #72 "xLog was crashed"
Hi, I used a schedule service to get data from network on every 5 seconds,  printing logs during the process, sometimes the log was crashed with nothing.
I have uploaded the screenshot [here](https://lantsang.net/image/crashed_log.png), thanks for your help.

[2019-05-24 09:41] yabee5566 opened #73 "Can not write to file due to java.io.IOException: Permission denied 2"

[2019-05-24 10:36] #73 closed

[2019-05-24 10:37] yabee5566 commented on #73
I just forget to declare permission in AndroidManifest.xml, sorry

[2019-05-27 07:50] elvishew commented on #71
@chnouman You can customize it, using `FileNameGenerator`

[2019-05-27 07:55] elvishew commented on #72
@lantsang I can't understand, where is the crash, and was it caused by xlog?

[2019-05-30 04:22] #71 closed

[2019-06-25 09:37] chrisArthas opened #74 "日志清除策略没有实时生效"
`public class FileMaxSizeCleanStrategy implements CleanStrategy {

    private long maxFileSize;

    /**
     * Constructor.
     *
     * @param maxFileSize
     */
    public FileMaxSizeCleanStrategy(long maxFileSize) {
        this.maxFileSize = maxFileSize;
    }

    @Override
    public boolean shouldClean(File file) {
        long currentFileSize = file.length();
        return (currentFil

[2019-07-02 09:28] elvishew commented on #74
@chrisArthas It is designed to be, we only check if the log file should be cleaned when FilePrinter setting up. We don't check when logging, just for performance.

[2019-07-04 06:38] yyfBlog opened #75 "日志如何加密?"

[2019-07-09 02:51] elvishew commented on #75
@yyfBlog Please refer to #52 , is that what you want?

[2019-07-16 07:47] yyfBlog commented on #75
yes, thank you

[2019-07-17 04:19] #75 closed

[2019-07-22 07:49] coxfilur opened #76 "Crash"
07-22 15:45:36.184 E/AndroidRuntime( 7853): java.lang.NullPointerException: Attempt to invoke virtual method 'void java.io.Writer.write(java.lang.String)' on a null object reference
07-22 15:45:36.184 E/AndroidRuntime( 7853): 	at com.elvishew.xlog.printer.file.FilePrinter$b.b(FilePrinter.java:481)
07-22 15:45:36.184 E/AndroidRuntime( 7853): 	at com.elvishew.xlog.printer.file.FilePrinter.a(FilePrin

[2019-08-02 04:55] w2xx opened #77 "如果当天日志文件被删了，貌似就无法写文件了"
貌似目前写文件时候没有判断文件是否存在，如果不存在也没有新建文件。只能杀进程重新初始化

[2019-08-12 07:13] zztmercury commented on #76
I got same crash

[2019-08-24 04:31] elvishew commented on #76
Does it happen frequently?

[2019-09-04 03:46] vip110880 commented on #77
有解决吗？我这边上传日志到服务器，删除文件后发现没有创建新

[2019-09-04 04:53] vip110880 commented on #77
我这边自定义Printer，在doPrintln里做了下判断

private void doPrintln(long timeMillis, int logLevel, String tag, String msg) {
        String lastFileName = this.writer.getLastFileName();
        if (lastFileName == null || this.fileNameGenerator.isFileNameChangeable()) {
            String newFileName = this.fileNameGenerator.generateFileName(logLevel, System.currentTimeMillis());
            if (newFileName ==

[2019-09-04 06:11] w2xx commented on #77
@vip110880 你是直接导入的源码吧。我没有导入源码，不知道有没有其他方式优化下

[2019-09-27 06:50] howtoplay opened #78 "Android 10(Q)的适配"
Android 10(Q)的存储机制完全变了，希望作者大大能尽快适配

[2019-10-12 04:56] elvishew commented on #78
@howtoplay Is there any problem you are suffering with Android 10?

[2019-10-21 03:16] howtoplay commented on #78
I can not print the log to external storage on Android 10

[2019-10-28 10:16] elvishew commented on #78
@howtoplay When constructing a `FilePrinter`, you can use a folder path like `Context.getExternalFilesDir(Environment.DIRECTORY_DOCUMENTS)`, your app would have the access permission

[2019-11-19 08:30] raviyadav5951 opened #79 "Device list window popup not displaying on Android Studio 3.5.2"
Android Studio 3.5.2
Build #AI-191.8026.42.35.5977832, built on October 31, 2019
JRE: 1.8.0_202-release-1483-b03 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 7 6.1

[2020-03-31 09:34] ChenBu2 opened #80 "日志文件用什么打开查看呢"
日志文件用什么打开呢

[2020-04-04 22:37] spragucm opened #81 "Please provide examples for API Requests and Responses"
The only reason I found this library and tried to use it was in order to nicely display API Requests and Responses as shown on your main page.

Yet, there is no example showing how to do this :(

Can you please provide a quick example of how you achieved a nice log message for both situations?

Many thanks,
Chris

[2020-04-13 06:56] AimersCat opened #82 "ANR"
ANR Input dispatching timed out (Waiting to send non-key event because the touched window has not finished processing certain input events that were delivered to it over 500.0ms ago. waitqueue length = 11, head.seq = 2222744, Wait queue head age: 5686.0ms.)

[2020-04-13 06:57] AimersCat commented on #82
ANR Input dispatching timed out (Waiting to send non-key event because the touched window has not finished processing certain input events that were delivered to it over 500.0ms ago. Wait queue length: 11. Wait queue head age: 8856.2ms.)

com.elvishew.xlog.Logger.printlnInternal(Logger.java:564)

[2020-04-13 06:58] AimersCat commented on #82
#181310 Broadcast of Intent { act=com.oppo.im.heart_beat.alarm flg=0x14
ANR Broadcast of Intent { act=com.oppo.im.heart_beat.alarm flg=0x14 (has extras) }

com.elvishew.xlog.Logger.printlnInternal(Logger.java:562)

好几个ANR问题

[2020-05-05 06:13] VeerHan opened #83 "Build failed with ProjectConfigurationException"
Incremental java compilation is an incubating feature.

FAILURE: Build failed with an exception.

* Where:
Script 'https://raw.github.com/chrisbanes/gradle-mvn-push/master/gradle-mvn-push.gradle' line: 74

* What went wrong:
A problem occurred configuring project ':library'.

* Try:
Run with --info or --debug option to get more log output.

* Exception is:
org.gradle.api.ProjectConfigurationExcept

[2020-05-05 07:11] qiubin2016 opened #85 "打印字符串长度超过4053个字符就会丢失10个字符左右"
XLog.init(LogLevel.ALL);
Logger xlog = XLog.tag(TAG).build();
String string = "00000000000000001111111";  //超过4053个字符就会丢失字符，最多丢失10个字符，会自动换行打印；
xlog.i(string);

[2020-06-29 08:21] elvishew commented on #85
@qiubin2016 What device did you test on?
Besides, you can use `new AndroidPrinter(int maxChunkSize)` instead on `new AndroidPrinter()`, and specify a safe chunk size, for example 4053.

[2020-06-29 08:45] elvishew commented on #82
@AimersCat There is insufficient evidence to suggest that ANR is caused by this library

[2020-06-30 04:08] #53 closed

[2020-06-30 04:10] #38 closed

[2020-06-30 04:26] elvishew commented on #42
Use different `Logger`s.

[code]

[2020-06-30 04:28] #52 closed

[2020-06-30 06:12] elvishew commented on #65
@howtoplay Maybe you can just wait for a while within your CrashHandler, so the logging worker have enough time to write log file

[2020-06-30 06:14] #68 closed

[2020-06-30 08:15] elvishew commented on #79
Not related to the library

[2020-06-30 08:15] #79 closed

[2020-08-05 03:41] Godsbox opened #87 "All Exceptions changed ANR"
all execptions will frozen stil ANR.  For example, NullPointerException

[2020-09-13 09:51] zak-ml commented on #80
请问你有看到生成的日志文件吗，我在 /Android/data/packageName/ 下面没看到生成的日志文件，调试 FilePrinter 发现 Worker 线程也是完成了写文件的操作。

[2020-09-13 09:51] zak-ml commented on #80
请问你有看到生成的日志文件吗，我在 /Android/data/packageName/ 下面没看到生成的日志文件，调试 FilePrinter 发现 Worker 线程也是完成了写文件的操作。

[2020-09-13 10:40] zak-ml commented on #80
路径取错了

[2020-10-13 05:49] ginkwang opened #88 "为什么打印出来的时间格式时时间戳，在哪里可以配置？"
`    private void initLog() {
        LogConfiguration config = new LogConfiguration.Builder()
                .tag("PROTOCOL_TAG")
                .st(2)
                .t()
                .b()
                .build();

        Printer androidPrinter = new AndroidPrinter();
        Printer consolePrinter = new ConsolePrinter();
        Printer filePrinter = new FilePrinter
                .Bui

[2020-10-14 08:44] elvishew commented on #88
#13

[2020-10-19 10:10] sfxpamusuo opened #89 "How do I quickly enable or disable file printing"
Hi... Good day
I am using your XLog in an app and it has been nice and robust so far
Is there a method I can call to enable or disable file printing?

My use case is this
I have a setting from the backend which determines if I should log to file or not
Currently, whenever I want to log, I check the value of the setting and if it is true, I log
But this causes frequent db calls and if the setting i

[2020-10-23 10:04] elvishew commented on #89
@sfxpamusuo  You can wrap the `FilePrinter` and control the printing in the `println(int logLevel, String tag, String msg)` method,
[code]

[2020-10-23 11:19] #88 closed

[2020-10-23 11:21] elvishew commented on #83
@VeerHan Network issue, if you can not access github.com, you can use a VPN.

[2020-10-23 11:39] elvishew commented on #81
@spragucm You can take a look at [HttpLoggingInterceptor](https://github.com/square/okhttp/blob/master/okhttp-logging-interceptor/src/main/kotlin/okhttp3/logging/HttpLoggingInterceptor.kt) of [okhttp](https://github.com/square/okhttp), customize a `HttpLoggingInterceptor.Logger` and use [xLog](https://github.com/elvishew/xLog) to print the API response by calling
[code]
Then you will see the simil

[2020-10-23 11:42] elvishew commented on #80
@ChenBu2 A log file is a simple text file, any text viewer can open it as Text

[2020-10-23 11:42] #80 closed

[2020-10-23 11:55] #42 closed

[2020-10-23 11:58] #50 closed

[2020-10-23 11:59] #62 closed

[2020-10-23 12:05] #58 closed

[2020-10-23 12:19] elvishew commented on #19
`CleanStrategy` is supported since version [1.5.0](https://github.com/elvishew/xLog/releases/tag/1.5.0)

[2020-10-23 12:28] #56 closed

[2020-10-23 12:29] #78 closed

[2020-10-23 15:23] #65 closed

[2020-10-29 09:52] VeerHan commented on #83
@elvishew OK, thanks. Issuce closed.

[2020-10-29 09:52] #83 closed

[2020-11-04 13:33] Chen-Alexander opened #90 "如何才能做到，每一个XLog对象实例对应于一个日志文件"
如何才能做到，每一个XLog对象实例对应于一个日志文件呢？例如logA对应于File-A，logB对应于File-B，然后写日志的时候，通过logA实例写的日志全部写入到File-A里面；通过logB实例写的日志全部写入到File-B里面。

[2020-11-05 02:36] elvishew commented on #90
You can
[code]

[2020-11-15 12:16] elvishew commented on #85
Change default chunk size to 4000 in release [1.7.0](https://github.com/elvishew/xLog/releases/tag/1.7.0)

[2020-11-15 12:16] #85 closed

[2020-11-19 10:43] zhuzhutai opened #91 "一个建议"
当日志打印速度特别快的时候，频繁的io会影响性能
是否能考虑添加缓冲区，累积到一定量再写入文件。

[2020-11-24 02:20] yujiangtao668 commented on #76
java.lang.NullPointerException: Attempt to invoke virtual method 'void java.io.BufferedWriter.write(java.lang.String)' on a null object reference at com.elvishew.xlog.printer.file.FilePrinter$Writer.null a(null)(FilePrinter.java:2) at com.elvishew.xlog.printer.file.FilePrinter.null b(null)(FilePrinter.java:143) at com.elvishew.xlog.printer.file.FilePrinter$Worker.null run(null)(FilePrinter.java:18

[2020-11-24 02:22] yujiangtao668 commented on #76
this crash happend on android Api 29
![image](https://user-images.githubusercontent.com/49176982/100038443-e8971e80-2e3e-11eb-8f9c-b538db8656dd.png)

[2020-11-24 02:28] yujiangtao668 opened #92 "A frequent crash on API 29"
java.lang.NullPointerException: Attempt to invoke virtual method 'void java.io.BufferedWriter.write(java.lang.String)' on a null object reference at com.elvishew.xlog.printer.file.FilePrinter$Writer.null a(null)(FilePrinter.java:2) at com.elvishew.xlog.printer.file.FilePrinter.null b(null)(FilePrinter.java:143) at com.elvishew.xlog.printer.file.FilePrinter$Worker.null run(null)(FilePrinter.java:18

[2020-11-24 02:59] elvishew commented on #92
@yujiangtao668 Can you tell what path do you save the logs into? Maybe there is something different in android 29, but need some further investigation.

[2020-12-09 07:28] yujiangtao668 commented on #92
@elvishew sdcard/Android/data/com.xx.xxx/files/log/xx.txt   This is the internal storage address of the phone, there should be no problem, right?

[2020-12-09 07:31] yujiangtao668 commented on #92
![image](https://user-images.githubusercontent.com/49176982/101598740-973c8100-3a33-11eb-801d-488e86982446.png)

[2020-12-17 03:26] iliYF opened #93 "NPE in FilePrinter"
### java.lang.NullPointerException

Attempt to invoke virtual method 'void java.io.BufferedWriter.write(java.lang.String)' on a null object reference
com.elvishew.xlog.printer.file.FilePrinter$Writer.void appendLog(java.lang.String)(SourceFile:13)

[code]

[2021-01-04 07:12] LCrazy commented on #93
Have you solved it？

[2021-01-07 22:17] LiorBanai opened #94 "[Question] Are logs readable by specific formats"
Hi,
I was wondering if it worth adding reading/parsing xlog files with my [Log viewer](https://github.com/Analogy-LogViewer/Analogy.LogViewer).
Does your library have parsers (even in Java) to parse the logs or do I need to write custom parsers per log structure?

[2021-01-08 10:17] elvishew commented on #93
@iliYF Have you find out the root reason of NPE? Why the `bufferedWriter` is `null` before `appendLog`

[2021-01-08 11:16] elvishew commented on #94
@LiorBanai The format of xlog is defined by user, there is no such official format, so I think there is no need to "parse" it.

[2021-01-08 11:41] LiorBanai commented on #94
Thanks!

[2021-01-08 15:50] #94 closed

[2021-01-12 12:14] elvishew commented on #76
Tracked in #70

[2021-01-12 12:14] #76 closed

[2021-01-12 12:15] elvishew commented on #92
Track in #70

[2021-01-12 12:15] #92 closed

[2021-01-12 12:15] elvishew commented on #93
Track in #70

[2021-01-12 12:15] #93 closed

[2021-01-12 12:17] elvishew commented on #69
Track in #70

[2021-01-12 12:17] #69 closed

[2021-01-12 12:19] elvishew commented on #72
No more feedback, seems same as #70

[2021-01-12 12:19] #72 closed

[2021-01-12 12:31] elvishew commented on #70
Finally figured out the root reason:
Before the log-to-file worker started, if there are several logging requests from different threads come in together, the worker may be started several times, that results multiple writing thread, and singleton isn't guaranteed any more.

Make sure only one writing thread, the crash should be resolved

Please update to v1.8.0 ASAP, and sorry for letting this is

[2021-01-12 12:50] elvishew commented on #77
Fixed in v1.8.0, close this issue

[2021-01-12 12:50] #77 closed

[2021-01-23 14:37] coolyunyun opened #96 "目前是一天一个日志文件 可否做到自定义时间一个日志文件"
目前是一天一个日志文件  可否做到自定义时间一个日志文件

[2021-01-23 14:38] coolyunyun commented on #96
比如一小时   或者半小时   生成一个日志文件

[2021-01-28 02:24] #91 closed

[2021-01-29 07:51] elvishew commented on #96
@coolyunyun Use `FileNameGenerator` and generate different names for each hour

[2021-01-29 07:51] #96 closed

[2021-02-05 08:06] TangHaifeng-John opened #97 "Android 10 FilePrinter 写入失败"
原因是Android 10 加入存储卡 除了需要加权限外，还需要在 application 标签下声明 android:requestLegacyExternalStorage="true"

详情请看这篇文章：
https://www.cnblogs.com/fishman2/p/12832655.html

[2021-03-01 09:27] weishubaoforwork opened #98 "您好，请问把info级别以上的log全部记录下来，存成文件，每天定时上报给服务器，貌似xlog只能抓自己的log？"

[2021-03-03 01:30] eternallyjie opened #99 "调用栈信息打印深度无法打印"
你好，我这边在使用Xlog初始化的时候配置了调用栈打印深度不限制，但是在logcat中并没有打印调用栈信息。请问还是需要什么配置吗？

![image](https://user-images.githubusercontent.com/30895476/109738609-1391cb00-7c03-11eb-878a-38bc597bc533.png)

[2021-03-26 09:58] gardyna opened #100 "sample may be outdated?"
getExternalStorage has been depreceated by android so the sample no longer works (at least I can't find the log file)

[2021-04-01 06:45] tom1993721 opened #101 "addObjectFormatter 无法打印okhttp的请求？"

[2021-04-01 07:01] #101 closed

[2021-04-13 09:27] elvishew commented on #99
@eternallyjie This may be an isolated case, try a different virtual model, or connect to a real machine.

[2021-04-21 10:11] elvishew commented on #98
@weishubaoforwork
Now you can use [LibCat](https://github.com/elvishew/XLog/blob/master/xlog-libcat) to intercept logs from other libraries within SAME app.

[code]

[2021-04-21 10:13] elvishew commented on #58
Finally, [LibCat](https://github.com/elvishew/XLog/blob/master/xlog-libcat) allow you to intercept the logs from third party libraries within SAME app.

And still can not get the logs from other app.

[2021-04-21 10:15] elvishew commented on #100
@gardyna sample updated.

[2021-04-21 10:17] elvishew commented on #97
@TangHaifeng-John Thank you.

Developers should ask the storage permission by themselves before writing log to external storage.

[2021-04-21 10:24] elvishew commented on #87
@Godsbox Seems your code is wrong

Try in this way instead
[code]

[2021-05-03 10:51] #100 closed

[2021-05-19 09:48] DysaniazzZ commented on #27
+1，对不齐的问题如何解决？

[2021-05-20 03:09] elvishew commented on #27
Use `AndroidPrinter(true)` and see if it is what you want

[2021-06-01 15:50] huangran-qin opened #102 "超过1024个长度能打印不"
超过1024个长度能打印不

[2021-06-02 10:48] elvishew commented on #102
@huangran-qin More details?
If you mean printing with `AndroidPrinter`, yes, it can.

[2021-06-03 02:56] huangran-qin commented on #102
OK, I see. Thank you very much!

[2021-06-03 03:58] #102 closed

[2021-06-12 11:32] shipsywor opened #103 "xLog should not crash app but give helpful hints when there in an invalid Json"
When the json is invalid, xLog crashes the Android app and gives error "format parse ..."

Instead of doing that it should either give helpful validation errors like this site: https://jsonformatter.curiousconcept.com/#

Or simply print in the logcat that the "json is invalid". The App should NOT crash.

This is what https://github.com/orhanobut/logger does:

The important part is that App is not

[2021-06-15 02:58] elvishew commented on #103
@shipsywor Thanks for your reasonable suggestion, will do it.

[2021-06-16 08:11] elvishew commented on #103
v1.10.0 is released, close

[2021-06-16 08:11] #103 closed

[2021-06-16 08:18] elvishew commented on #66
Since release 1.9.0, multiple backup files is supported now. Use `FileSizeBackupStrategy2` or extend `AbstractBackupStrategy` instead of using `BackupStrategy`, and README is updated too.

[2021-06-16 09:04] #66 closed

[2021-06-26 07:49] iadcialim opened #104 "orhanobut/logger vs xLog"
Question. Sorry, but how is this different from https://github.com/orhanobut/logger?

[2021-06-26 09:31] elvishew commented on #104
@iadcialim `xLog` is more like a logger framework and contains some built-in implementations, all components are customizable.
`logger` is simple and lightweight, but not so easy to customize.

You can go through the doc in README.md, you will know the differences.

It's recommended to use `xLog` instead of `logger` when developing a new project.

[2021-06-26 09:34] elvishew commented on #104
@iadcialim Also you can take a look at the issue I created in `logger`
https://github.com/orhanobut/logger/issues/255

[2021-06-27 03:08] iadcialim commented on #104
Thank you @elvishew for the answer. After checking README and that ticket in https://github.com/orhanobut/logger/issues/255, it's pretty clear that `xLog` is very extensive and highly customizable especially the main customizations and strategies for managing logs in a file. I am going to use this one moving forward instead of `logger` =)

[2021-06-27 03:10] iadcialim commented on #104
I really like the pretty logs in my logcat window and the ease of clicking on the class-line number link to jump to the line where its prints the logs - this is very convenient to us developers.
Now I am thinking of saving the logs in a file and later retrieve them from the device.
But I am just thinking if it's possible to load the contents of a log file into the logcat window.
So that I can enjo

[2021-06-27 05:23] elvishew commented on #104
It's possible, but you need to load by yourself(just like loading a normal file) and print the contents to logcat via `AndroidPrinter`

[2021-06-27 08:39] iadcialim commented on #104
Do you mean by parsing the contents of the log file and logging them again?

[2021-06-27 09:34] elvishew commented on #104
Yes, but don't log them to file again, just log to logcat by specifying`AndroidPrinter`(how to? you can refer to README)

[2021-06-29 14:27] Huymee opened #105 "荣耀平板5 P版本 无法在Context.getExternalFilesDir(Environment.DIRECTORY_DOCUMENTS)的目录下创建文件---事实上任何文件夹都创建不了日志文件"

[2021-06-30 05:00] elvishew commented on #105
@Huymee Do you mean that in your device, `"sdcard/Android/data/<packageName>/files/Documents/<logFolder>"` is empty?

I test in my side with
[code]
it works for me.

What if you try it on another device? Maybe there is something different in "荣耀平板5 P版本".

[2021-06-30 05:13] Huymee commented on #105
在其它设备上几乎都能工作，我试过了小米mix2（P版本） 小米mix2（Q版本）联想平板（Q版本）等一系列设备（没有测试除荣耀平板5以外的华为设备），但是只有荣耀平板5无法创建日志文件

[2021-06-30 07:04] elvishew commented on #105
@Huymee Seems it is a device-specific issue.

Can you run `logcat -s System.err` to see the failure info? If an exception occurred during logging to file, it may print the failure reason to the terminal.

If still no failure info in the terminal, maybe you can download the source code and debug the `FilePrinter.doPrintln` to see where it fails.

[2021-06-30 07:09] Huymee commented on #105
好的 目前设备不在我手上，过两天我把设备拿到之后再来试试，刚刚我又借到一台8.0版本和和一台7.1版本的华为手机，验证都没问题

[2021-06-30 08:24] iadcialim commented on #104
Do I need to run an android app for this to log again the contents of the log file? Or is there a way to easily feed the logfile into logcat?

[2021-06-30 08:39] elvishew commented on #104
No, there is no such tool to "replay" the log file to the terminal.

If you just want to "view" the content of the log file, why not just `cat` them to the terminal?

[2021-06-30 09:17] elvishew commented on #104
If you `cat` them in Android Studio's terminal tab, YES.

The click-and-jump is a feature of Android Studio.
Just try it.

[2021-06-30 13:33] iadcialim commented on #104
Ya, it worked. Awesome man!

[2021-07-02 08:38] Huymee commented on #105
我拿到设备了，经过反复调试之后发现了问题----运行时权限逻辑存在问题，重新梳理一遍之后就ok了。感谢作者！！！！
另外提一个建议，可以考虑把打日志的线程号和进程号打印出来，方便定位问题

[2021-07-02 08:38] #105 closed

[2021-07-02 10:26] iadcialim opened #106 "java.lang.RuntimeException: java.util.zip.ZipException: zip file is empty"
Build error when including the LibCat

[code]

Pls see the attached sample app
[LibCatTester.zip](https://github.com/elvishew/xLog/files/6753966/LibCatTester.zip)

[2021-07-02 10:58] elvishew commented on #106
Make sure to exclude `kotlin`
[code]

[2021-07-03 16:39] iadcialim commented on #106
[code]
Oh ok. I thought this was optional. Like we don't want to intercept logs from them

[2021-07-04 17:30] iadcialim opened #107 "Date, log type, and tag are not complete when logging to FilePrinter"
This is the log in logcat (AndroidPrinter)
![Screenshot 2021-07-04 at 8 56 16 PM](https://user-images.githubusercontent.com/14870470/124390507-8c727200-dd1e-11eb-936e-f51364622fb4.png)

This is the log file (FilePrinter)
<img width="1075" alt="Screenshot 2021-07-04 at 8 56 02 PM" src="https://user-images.githubusercontent.com/14870470/124390522-9e541500-dd1e-11eb-8860-6337f2cf9b15.png">

The diffe

[2021-07-05 09:03] elvishew commented on #107
@iadcialim The `ClassicFlattener` use a pattern of `{d} {l}/{t}: {m}`, there is no line seperator between tag and message.
If you hope the border to be more pretty, you can use a `PatternFlattener` with a pattern `{d} {l}/{t}: \n{m}` instead of using a `ClassicFlattener`.

[2021-07-09 03:53] boiyun opened #108 "如何追加信息到每个日志文件开头处"
例如这样的：
![image](https://user-images.githubusercontent.com/19587221/125020841-241fe980-e0ac-11eb-8210-dc24427fbd23.png)

[2021-07-11 08:33] elvishew commented on #108
Currently not support, you can copy the source code of `FilePrinter` and modify it by yourselves.
Will support the feature in the next release version.

[2021-07-11 17:22] elvishew commented on #108
@boiyun Now you can do like below:
[code]
with release v1.11.0

[2021-07-16 08:31] tianxiake opened #109 "保存日志到本地文件，可以记录进程id和进程名吗？"
apk做了多进程，看本地日志文件的时候，只能看到线程id，无法看到进程id和进程名，不太方便。谢谢

[2021-07-16 11:17] elvishew commented on #109
For performance, load process info only once.
[code]

You can add an `Interceptor` when initializing xLog, and append `procName` and `pid` to log message
[code]

Or, if you want the process info displayed together with thread info, you can customize a `ThreadFormatter`
[code]

Hope this help you!

[2021-07-19 08:04] tianxiake commented on #109
Thanks. I read the source of xlog find I can customize a ThreadFormatter to append msg to log. the  expandability of xlog is so great! Thanks for you!

[2021-07-19 08:09] tianxiake commented on #109
But I don't understand why design tag for global in default.In my case I need tag for current class. I found that use Xlog.tag(xx) to custom tag,but invoke xlog.tag(xxx) will create a new Logger object in every times, For performance, I think this is not good ,this is my views, hoping your answer!

[2021-07-19 08:18] tianxiake opened #110 "XLog formatArgs method maybe make app crash if format error!"
`/**
   * Format a string with arguments.
   *
   * @param format the format string, null if just to concat the arguments
   * @param args   the arguments
   * @return the formatted string
   */
  private String formatArgs(String format, Object... args) {
    if (format != null) {
      return String.format(format, args); // this not try-catch maybe make app crash if format error!
    } else {

[2021-07-19 08:23] tianxiake opened #111 "XLog not support max logFileSize in storage"
if I want write logFile max size is 10M，xLog don't  support this? It is my  looking in the wrong！

[2021-07-19 13:15] elvishew commented on #109
Currently, if you want to use different tags in different classes, you can keep a `Logger` with a custom tag in each class, and use this `Logger.*` instead of using `XLog.*` directly.

[2021-07-19 13:21] elvishew commented on #111
Use a `FileSizeBackupStrategy2`, which will limit each log file to specific size.

xLog write log in `append` mode, not in `rolling` mode.

[2021-07-19 13:26] elvishew commented on #110
Currently won't fix, you should take care of your `format`, just as you were calling `String.format` directly.

[2021-07-20 01:58] tianxiake commented on #111
In my case,I want all log file max size in 10M，

[2021-07-20 03:03] elvishew commented on #111
So you can `new FileSizeBackupStrategy2(10*1024*1024)`, is it not what you want?

Any further question, you can add QQ group(in readme_zh.md) to ask for help.

[2021-07-26 09:57] iadcialim commented on #107
hi @elvishew thanks. I went with your suggestion above.
Btw, I have this wrapper class
[code]

I use the `print` function when Im printing a formatted json string
[code]

The result looks good on the file:
<img width="512" alt="Screenshot 2021-07-26 at 5 49 27 PM" src="https://user-images.githubusercontent.com/14870470/126970283-8f16f797-c49c-4077-817f-bba7141caf95.png">

But it has some extra spa

[2021-07-26 14:23] elvishew commented on #107
Seems it is the display style of Android Studio when displaying line-break, not a feature of xLog.

[2021-08-04 02:59] boiyun commented on #108
Sorry, just saw the message, thank you

[2021-08-04 07:27] Rockets1080 commented on #99
![image](https://user-images.githubusercontent.com/49021029/128139626-8f68e94c-5a9b-40b3-a061-b345435193d8.png)

[2021-08-04 07:28] Rockets1080 commented on #99
打印堆栈信息遇到同样的问题

[2021-08-05 06:19] Rockets1080 opened #112 "LibCat使用报错，程序崩溃闪退java.lang.NoSuchMethodError: No static method aspectOf()Lcom/elvishew/xlog/libcat/internal/LogAspect"
![image](https://user-images.githubusercontent.com/49021029/128301007-105ecc63-6066-47b9-a957-3250c726f766.png)

[2021-08-05 06:21] Rockets1080 commented on #112
![image](https://user-images.githubusercontent.com/49021029/128301151-f69baf54-fac3-4271-8c09-4fde7da36eab.png)
![image](https://user-images.githubusercontent.com/49021029/128301279-3e7d3cef-6b00-4e1a-a42c-e2ef7b37606b.png)

[2021-08-05 06:22] Rockets1080 commented on #112
2021-08-05 14:15:20.252 20551-20551/com.elvishew.xlogsample E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.elvishew.xlogsample, PID: 20551
    java.lang.NoSuchMethodError: No static method aspectOf()Lcom/elvishew/xlog/libcat/internal/LogAspect; in class Lcom/elvishew/xlog/libcat/internal/LogAspect; or its super classes (declaration of 'com.elvishew.xlog.libcat.internal.LogAspect' appears

[2021-08-05 12:39] elvishew commented on #99
@Rockets1080 In your screenshot, the stack trace is printed, what's the problem?

[2021-08-05 13:04] elvishew commented on #112
Remove the `include 'com.elvishew.xlogsample'` from build.gradle and try again.

[2021-08-25 01:24] Star3513 opened #113 "主动删除日志文件"
请问可以主动删除某个日志文件吗

[2021-09-01 00:53] ZCShou opened #114 "如何开启或者关闭xLog"
新手使用xlog，现在需要在 APP 添加一个设置，来开启或者关闭 xLog。默认是开起的！按照手册，我在 Application 类中配置了 xlog（输出到文件），现在如何在参数设置中，来简单的开启或者关闭

[2021-09-01 09:23] #112 closed

[2021-09-01 09:25] Rockets1080 commented on #114
可以根据debug或者release版本老设置日志开关的

[2021-09-01 09:27] Rockets1080 commented on #114
如果你只是想局部打印日志的话，就new一个Logger配置打印level，不要使用全局的Xlog进行打印

[2021-09-01 09:29] Rockets1080 opened #115 "AndroidPrinter（true）使用自动换行功能，超长字符串打印不全"
![image](https://user-images.githubusercontent.com/49021029/131647829-9e9cf084-c31c-4842-80a8-d7856b073f37.png)

[2021-09-01 09:31] Rockets1080 commented on #115
应该取end 和newLine二者之间的最小值

[2021-09-01 09:32] Rockets1080 commented on #115
应该end = newLine != -1 ? Math.min(end,newLine) : end;

[2021-09-01 09:38] Rockets1080 commented on #113
有清除日志缓存策略的，我配置供你参考

 Printer filePrinter = new FilePrinter                      // Printer that print the log to the file system
                .Builder(new File(context.getExternalCacheDir().getAbsolutePath(), "log").getPath())       // Specify the path to save log file
                .fileNameGenerator(new FileNameGenerator() {
                    @Override
                    public boolean i

[2021-09-01 09:38] Rockets1080 commented on #113
public static long MAX_CLEAN_TIME = 7 * 24 * 60 * 60 * 1000;//最大清理时间，自动删掉那些一段时间（如：一周）以来都未被修改的日志文件

[2021-09-01 10:07] Star3513 commented on #113
@Rockets1080 好的，多谢回答

[2021-09-01 10:07] #113 closed

[2021-09-03 05:11] ZCShou commented on #114
我的需求时，默认就是开启的，给使用者提供一个按钮，可选择关闭！至少目前是这样，后续测试没问题后才会直接关闭。

[2021-09-03 10:49] elvishew commented on #114
Please refer to #30 #42

[2021-09-03 11:05] elvishew commented on #115
You are right, can you create a PR?

[2021-09-26 09:27] hjywyj commented on #74
如果app启动后一直在前台运行，那么日志文件过多来不及定时清理会导致硬盘空间不足。现在我的解决方案是写了个清理过期日志的任务，一天唤醒一次。可否增加个开关，手动开启定时检查是否应该清理日志文件呢？

[2021-09-28 05:45] tomato2009 opened #116 "当前日志文件不是追加写"
每次重启app，重启之前写入的日志被覆盖了，没有达到追加写

[2021-11-19 09:29] chenchongyu opened #117 "支持多实例写入多个文件吗？"
如题.
假如项目里有多个模块，每个模块想单独记录日志文件，这个可以吗？

[2021-11-22 11:37] #117 closed

[2021-11-25 03:24] chenchongyu opened #118 "能否动态设置打印堆栈信息呢？"
如题，只想在error级别的日志里打印堆栈信息，其他级别日志不打印，有什么办法吗？

[2021-11-26 02:21] elvishew commented on #118
@chenchongyu
You can use a `Interceptor`.
Set `threadInfo` to `null` when `level` is `ERROR`.
[code]

[2021-12-02 10:18] zhaoxiuyu opened #119 "需要配置混淆文件吗"
需要配置混淆文件吗

[2021-12-15 11:53] dineshr93 opened #120 "Does xlog has vulnerability similiar to log4j?"
Hi
I'd like to know if the xlog contains the vulnerabilty similar to log4j?
I checked there is no file with jndi interface. but I'd like to get confirmed officially.

Thanks

[2021-12-16 03:32] elvishew commented on #120
@dineshr93 No, it doesn't

[2021-12-16 03:51] liuzhenxin2156 opened #121 "无法下载"
//xLog日志
    implementation 'com.elvishew:xlog:1.10.1'

去除了 jcenter()

[2022-01-04 08:44] taoguozi opened #122 "意外删除日志文件"
每次启动app后 会自动删除之前的日志文件
当前app中计划每天生成一个新的log文件 命名规则如：2022-01-01.log，发现时不时就会删除之前保存的日志文件，已设置不清除日志， 不备份日志，请问需要怎么调整代码，来达到不保留全部日志记录的目的，谢谢
部分代码如下：
`
object Log {

    val instance: Logger
        get() {
            return XLog.printers().build()
        }

    init {
        val log = "${Environment.getExternalStorageDirectory().path}/Android/data/com.example/log/"
        XLog.init(
            LogConfig

[2022-01-11 08:41] ichtj opened #123 "多个module中如何分别统计日志到app-log,xtools-log呢？"
hi
项目中碰到一个问题，我除了app Module之外，还有一个xTools Module,现在想记录日志到两个文件，app Module依赖xTools
另外该在哪个module中进行初始化XLog呢？
我是现在app Module初始化了，xTools也进行了初始化，日志能记录，但是发现xTools初始化XLog覆盖了一些参数，导致日志都是往xtools-log中写的，没有实现分别统计
请问有什么办法吗？

[2022-01-12 11:18] elvishew commented on #123
要记录到不同文件，可使用不同的 Logger 实例。如在 xTools 里定义一个写到 xtools-log 的 Logger，在 app module 里定义另一个写日志到 app-log 的 Logger。

[2022-01-12 11:21] elvishew commented on #122
如果已经设置了 NeverCleanStrategy，那应该不是 xlog 删除的日志，可能是别的程序（如清理软件）删除的。试试将日志保存到其他文件夹

[2022-01-13 02:02] ichtj commented on #123
XTools Module

`public class XTools {
    private static volatile XTools sInstance;
    private static final long MAX_TIME = 1L * 24L * 60L * 60L * 1000L;
    private Logger xToolLogger;

    public Logger getxToolLogger() {
        return xToolLogger;
    }

    public void setxToolLogger(Logger xToolLogger) {
        this.xToolLogger = xToolLogger;
    }

    //单例模式
    public static XTools inst

[2022-01-13 02:05] ichtj commented on #123
其实我的想法是每个module 全局弄一个日志记录的Logger,而不是每一个module中的java文件都创建一个Logger来记录

[2022-01-15 08:43] elvishew commented on #123
You are right

[2022-01-17 07:25] ichtj commented on #123
好的 感谢

[2022-01-17 07:25] #123 closed

[2022-01-19 08:14] tangy1221 opened #124 "1、随机删除所有文件；2、两进程操作同一日志路径，文件分别打印，且备份未生效"
1、两个进程使用，随机删除所有文件；日志路程在系统sdCard/包名/xlog
可能原因是锁屏在App界面吗，系统删除文件吗？

2、两进程操作同一日志路径，文件分别打印，且备份未生效；
现象是：文件1：上面是进程A+进程B的日志，下面都是进程A的日志；备份文件：都是进程B的日志。
猜测是两个进程同时打印一个快要满5M的文件（备份规则是file.length()>1024*1024*5）。

[2022-01-19 08:17] tangy1221 commented on #124
文件1实际大小5.17M

[2022-02-23 08:54] yjtacx opened #125 "日志文件被覆盖了"
你好，我发现App启动时，偶尔会出现日志文件内容被覆盖掉了，而不是追加。我设置的是最多一个备份文件。这个什么原因呢？

[2022-02-23 09:05] yjtacx commented on #116
我也遇到了同样的问题com.elvishew:xlog:1.10.1

[2022-02-23 09:13] yjtacx commented on #125
@elvishew 这个问题确实比较怪，而且不是必现的，是否已经遇到过或者在更高版本处理了呢？

[2022-03-30 07:54] ichtj opened #126 "应用必须重启才能删除之前文件吗"
hi @elvishew 比如说在application 中初始化了Xlog，然后这个应用一直运行了两三天，但是应用中设置的文件清理周期为1天，假如应用还在持续运行下去，没有重启过该应用 ，是否就不会触发规则？？

[2022-04-12 04:29] shuimuqinghua opened #127 "Android12，targetSdkVersion=30如何适配"
你好，我的APP设置的targetSdkVersion是30，使用.Builder(new File(getExternalCacheDir().getAbsolutePath(), "log").getPath())  ， 文件管理器里面找不到日志文件，请问要怎么处理，谢谢

[2022-04-16 11:16] elvishew commented on #125
@yjtacx 请问是怎么设置的？暂时没听说过这个问题

[2022-04-21 10:16] hanxiaofeng opened #128 "如何过滤掉某些tag，不写入到文件？"
有些无用的tag日志不想写入文件，如何过滤？

[2022-05-05 02:08] yjtacx commented on #125
下面是我的logger的创建方法，然后我新建了两个单例类，主要是为了写入两个不同的文件。
public static Logger getLogger(String logFileName, String tag, long debugMaxSize, long releaseMaxSize) {
        Printer androidPrinter = new AndroidPrinter();
        Printer filePrinter = new FilePrinter                      // Printer that print(save) the log to file
                .Builder(getFileDir())                         // Specify the direct

[2022-05-05 02:28] yjtacx commented on #125
现象是这样的，比如我的两个日志文件：a.log和b.log内部的日志变成从同一时刻开始了的，之前的很多日志都丢了，而b.log的备份文件还在。

[2022-05-05 09:14] elvishew commented on #125
@yjtacx 清理策略是怎样的，有没有可能在打开APP时，刚好清理策略生效，旧的日志被清了？

[2022-05-06 01:42] yjtacx commented on #125
检查了下，没有自动清理任务，就是new FileSizeBackupStrategy2(BuildConfig.DEBUG ? debugMaxSize : releaseMaxSize, 1) 这个设置，这个我这也很难复现，只是有几个用户复现了，复现的情况基本都是bak.1文件存在，剩余的.log的文件被覆盖重写了。

[2022-05-06 09:10] Witype opened #129 "小米手机应用双开导致崩溃"
`
05-06 16:14:37.468   312  1319 W System.err: java.lang.InterruptedException
05-06 16:14:37.468   312  1319 W System.err: 	at java.util.concurrent.locks.AbstractQueuedSynchronizer.acquireInterruptibly(AbstractQueuedSynchronizer.java:1248)

05-06 16:14:37.468   312  1319 W System.err: 	at java.util.concurrent.locks.ReentrantLock.lockInterruptibly(ReentrantLock.java:344)

05-06 16:14:37.468   312

[2022-05-18 06:22] iadcialim opened #130 "De-obfuscate the stacktraces"
I used this library and saves the logs to a file.
On release mode, I set `minifyEnabled` to true so it does enable obfuscation of classes.
This kinda affects the stack trace in the log files and it shows the obfuscated classes.
Has anyone tried de-obfuscating the log file using the proguard mapping file?

[2022-06-12 01:17] michikomars1994 opened #131 "elvishew/xLog"
https://github.com/elvishew/xLog/blob/master/.buildscript/deploy.sh

[2022-06-14 04:10] q644899972 opened #132 "日志文件上传时 会导致log重复打印"
日志文件上传(也可能是读取) 会导致log内容重复 ，再次写入之前已打印过的日志

[2022-06-16 08:27] longzekai commented on #109
怎么抓取别的进程的日志啊？另外，我想在不同的类中打印日志的时候，添加对应类名作为tag 可以实现么？

[2022-06-17 01:39] tony-xian-2017 opened #133 "频繁的将log写入文件是否对性能造成影响"

[2022-06-26 08:20] elvishew commented on #133
日志是在工作线程写入到文件。要看多频繁，一秒写几百条，那肯定影响的

[2022-06-26 08:23] elvishew commented on #132
用户主动写入，非日志库问题

[2022-06-26 08:23] #132 closed

[2022-06-26 08:25] elvishew commented on #131
Invalid issue

[2022-06-26 08:25] #131 closed

[2022-06-26 08:35] elvishew commented on #128
如果不想写入文件的同时，接受不同时写到 Logcat，在初始化时指定 `BlacklistTagsFilterInterceptor` 过滤掉指定 tag 即可。
如果只是不想写入文件，但希望能打印到 Logcat，可自己组装一个 `Printer`，里面包装一个 `AndroidPrinter` 和一个 `FilePrinter`，并在调用 `FilePrinter.print` 前对 tag 进行过滤。

[2022-06-26 14:28] elvishew commented on #129
@Witype 请问这是必现问题吗？这部分日志不是崩溃，只是在把日志写入到文件时失败了（因为线程被打断）。

“每一次启动日志文件夹名都会生成新的名称”
需要检查你所配置的命名规则。

[2022-06-30 04:30] chaopengTan opened #134 "内存溢出了"
OutOfMemoryError: Failed to allocate a 29709532 byte allocation with 16777216 free bytes and 26MB until OOM

 java.lang.OutOfMemoryError: Failed to allocate a 29709532 byte allocation with 16777216 free bytes and 26MB until OOM
        at java.lang.AbstractStringBuilder.enlargeBuffer(AbstractStringBuilder.java:95)
        at java.lang.AbstractStringBuilder.append0(AbstractStringBuilder.java:146)

[2022-07-04 11:18] littleLeeLee opened #135 "如何保存log到文件的同时又在Android studio 显示log呢"
使用了打印log到文件后，Android studio 的logcat里面就没有信息了

[2022-07-05 06:52] haichenyi opened #136 "怎么分开设置控制台打印和写入文件的日志级别"
比方说，我现在正式环境不想打印日志，但是想把日志都写入到文件里面，该如何实现，我看源码，直接是在Logger层就全部拦截掉了。所有的printer都是公用的一个config，也就是公用的一个日志级别。
不能说正式环境只初始化一个FilePrinter，测试环境只初始化一个AndroidPrinter。正式环境也可能需要打印日志。需要动态设置能否打印日志，我可能初始化的时候需要打印日志，然后，就需要把打印日志关闭。反正，就是控制台打印跟写入文件有不同的开关控制。这个功能现在有吗？

[2022-07-12 00:06] archerLj commented on #126
自己试试不就知道了

[2022-08-06 01:21] iadcialim commented on #13
Can we create an API or param to easily change the format of the timestamp without subclassing PatternFlattener?
We just want to set the format of the timestamp, the rest of the implementations are ok.

[2022-09-06 03:48] scsfwgy commented on #128
也有类似的需求，比如我想把不同等级的日志写入到不同的文件中，比如 debug.log error.log这种场景。这样调整一下代码？上层应用如果不需要写入，直接返回null，避免无效写入。

<img width="1149" alt="image" src="https://user-images.githubusercontent.com/16045179/188540500-47c0bb8e-ddac-4df2-a018-88e58cb97170.png">

[2022-09-14 01:58] longzekai opened #137 "发现用xlog app保存的日志 和 系统抓取的log不一致的情况"
目前发现一个问题就是用系统抓取的log和用xlog app保存的log，系统的日志存在丢失的情况，不知道是否是xlog的问题，有遇到这类情况的么？

[2022-10-09 01:00] yizems opened #139 "有没有考虑过将打印任务交给子线程来做"
我简单看了下, 应该在 `Logger. printlnInternal` 获取到线程信息后, 应该就可以转入到子线程执行了

[2022-10-12 10:31] licoba commented on #133
我也比较好奇，不知道是直接写文件，还是用了类似mmap的机制去写

[2022-10-20 00:59] yizems commented on #139
看到了, 打印文件已经是子线程了

[2022-10-20 00:59] #139 closed

[2022-11-22 07:22] Esioner opened #140 "日志文件大小异常（12G ）"
私有路径（sdcard/Android/data/packageName/files/）出现一个 Documents 文件夹，且文件大小大于 10G 这个文件夹里面的内容为我打印的日志
<img width="251" alt="image" src="https://user-images.githubusercontent.com/23316622/203250386-21103355-f179-4fac-8472-ca00c1f4f05d.png">

[2022-11-22 07:27] Esioner commented on #140
<img width="498" alt="image" src="https://user-images.githubusercontent.com/23316622/203251441-081c4c99-f675-4045-b2cd-b87dc222c511.png">
内容查看内容也很奇怪，只有3w行，但是大小却超过5G

[2022-11-28 03:17] #140 closed

[2022-11-29 06:56] linfeizheng opened #141 "我有将日志写入本地文件的操作，但在某一部手机上，没有创建这个日志文件，请问如何排查错误在哪"
如题，谢谢